%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.1
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.1 we’ve added capabilities to improve collaboration and security along with powerful new build options. Annotate images to let designers collaborate as precisely as a developer. Automatically reject any commits that don’t have a GPG signature. Easily create Kubernetes clusters in a few clicks with built-in support for Google Container Engines (GCE). And so much more.
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2017/10/22/gitlab-10-1-released/"}
              See what’s new
