@import "variables";

h1 {
  font-weight: 300;
  font-size: 46px;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 36px;
}

ul {
  list-style-type: none;
}

.press-content {
  padding: 60px 0;
  text-align: center;
  color: $color-white;
  background: $color-primary;

  span {
    font-size: 17px;
    color: $color-secondary-alt;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 17px;
  }
}

.sub-wrapper {
  margin: 20px 0 60px;
}

.recent-news {
  margin-bottom: 20px;
}

.founders {
  background-image: url("/images/press/founders.jpg");
}

.gitlab-ceo {
  background-image: url("/images/press/sid_sijbrandij.jpg");
}

.mexico-summit {
  background-image: url("/images/press/gitlab_mexico_summit.jpg");
}

.austin-summit {
  background-image: url("/images/press/gitlab_austin_summit.jpg");
}

.fox {
  background-image: url("/images/press/logo/logo.png");
}

.diff-view {
  background-image: url("/images/press/screenshots/diff-view.png");
}

.merge-request {
  background-image: url("/images/press/screenshots/merge-request.png");
}

.issue-board {
  background-image: url("/images/press/screenshots/issue-board.png");
}

.pipeline-graph {
  background-image: url("/images/press/screenshots/pipeline-graph.png");
}

.project-view {
  background-image: url("/images/press/screenshots/project-view.png");
}

.git-cheat-sheet {
  background-image: url("/images/press/git-cheat-sheet.png");
}

.stacked-wordmark {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.png");
}

.stacked-wordmark-no-bg {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.png");
}

.stacked-wordmark-grayscale {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.png");
}

.wordmark {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.png");
}

.wordmark-no-bg {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png");
}

.wordmark-grayscale {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.png");
}

.downloads {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  .image-container {
    flex-basis: 33.33%;
    padding: 20px 30px;

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-width: 400px) {
      flex-basis: 100%;
    }

    .text {
      margin-bottom: 4px;

      span {
        font-size: 19px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .image {
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      background-position: center;
      border: 1px solid $border-color;
    }

    .list {
      margin-top: 2px;

      .btn {
        border-color: $border-color;
        width: 100%;
        margin: 2px 0;
      }
    }
  }
}

.recent-blog p {
  font-size: 18px;
}

.logo-row {
  display: flex;
  flex-wrap: wrap;

  .press-image {
    flex-basis: 20%;

    img {
      filter: grayscale(85%);
      transition: .2s ease;
      padding: 10px 20px;

      &:hover {
        filter: none;
      }
    }

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-width: 400px) {
      flex-basis: 100%;

      img {
        padding: 10px 60px;
      }
    }
  }
}

.podcast-item {
  margin-bottom: 20px;

  .podcast-date {
    display: inline-block;
    text-align: right;
    width: 110px;
    vertical-align: middle;
  }

  .press-text {
    text-align: left;
    max-width: 350px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.article-title {
  color: $color-dark;
  font-size: 18px;
}
